*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
    135deg,
    #EEF4FA 0%,
    #E8F0F7 50%,
    #F7FAFC 100%
    );
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:20px;

    border:1px solid #D9E2EC;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    text-align:center;
}

.logo{
    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    background:#2563EB;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;

    margin-bottom:20px;
}

h1{
    color:#1E293B;
    font-size:30px;
    margin-bottom:10px;
}

.subtitle{
    color:#64748B;
    margin-bottom:30px;
}

.input-group{
    display:flex;
    align-items:center;

    border:1px solid #CBD5E1;

    border-radius:10px;

    padding:12px 15px;

    margin-bottom:20px;

    background:#F8FAFC;
}

.input-group i{
    color:#64748B;
    margin-right:10px;
}

.input-group input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    font-size:16px;
}

.btn-login{
    width:100%;
    padding:14px;

    border:none;
    border-radius:10px;

    background:#2563EB;
    color:white;

    font-size:17px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.btn-login:hover{
    background:#1D4ED8;
}

.footer-text{
    margin-top:20px;
    color:#94A3B8;
    font-size:14px;
}


.error-message{
    color:red;
    text-align:center;
    margin-top:10px;
    font-size:14px;
}